form.signup,
form.login {
  margin-top: 50px;
}

body {
background-color: #D5E5F2;
font-family: 'Merienda One', cursive;
color: #213440;
}

.quote {
  margin-top: 10px;
}

.container {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  border-radius: 10px;
}

.first {
  text-align: left;
}

.btn {
  margin: 10px;
  color: #010440;
  background-color: aquamarine;
  letter-spacing: 5px;
  border-radius: 12px;
}

label:hover{
  color:#076d86;
}

.navbar {
  background-color: transparent !important;
}
